.radio{
    width: 100%;
}

.red{
    background-image: url('https://i.goopics.net/oxDr7.jpg');
}

.green{
    background-image: url('https://i.goopics.net/8Ye4p.jpg')
}

.square{
    background-image: url('https://i.goopics.net/0nY9q.jpg')
}

.multi{
    background-image: url('https://i.goopics.net/2GVee.jpg')
}

.yellow{
    background-image: url('https://i.goopics.net/qLDyJ.jpg')
}