.popup{
    position:fixed;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    width: 80vw;
    height:80vh;
    text-align:center;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 9;
}

.popup h3{
    font-size: 30px;
    color: white;
} 

.flex-container {
    display: flex;
    flex-direction: wrap;
    justify-content: center;
}


.option{
    margin: 1em;
    background-color:#F7F7F7;
    border-radius: 20px;
    width: 100px;
    height: 200px;
    
}

.popup p{
    color: grey;
    padding: 3px;
}

.popup .closewindow {
    position: fixed;
    right: 400px;
    bottom: 15px;
}
 
.close{
 display:none;
 
 }