.affiche-date, .enoncer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.affiche-date{
    position: absolute;
    left: 49%;
    top:30%;
    transform: translate(-50%, -50%);
    background-color: white;
    border-radius: 5px;
    width: 47%;
    height: 36%;
    padding: 10px;
    box-sizing: border-box;
    z-index: 3;
}

.date{
    font-size: 10px;
    color: green;
    display: block;
    text-align: center;


}
.enoncer{
    padding: 5px;
    box-sizing: border-box;
}
.enoncer-item{
    font: 5px sans-serif;
}

input{
    border-radius: 3px;
}

.bouton-valider{
    font-size: 10px;
    border-radius: 50%;

}

@media screen and (min-width: 500px){

    .date{
        font-size: 40px;    
    }
    .enoncer-item{
        font: 10px sans-serif;
    }
    
    input{
        border-radius: 3px;
    }


}






