.container-patern{
    background-color: #ffffff7e;
    border-radius:20px;
    padding-top: 10px;
    padding-bottom: 10px;
   
}

.title-paterns{
text-align: center;
font-family: chopinScript;
font-size: 30px;
}

.paterns{
    list-style-type:none;
    display:flex;
    justify-content: center;
    padding: 0;
    
    
}


.patern-item{
    margin: 5px;
}

.thubnail{
    width: 50px;
    height: 50px;
}


